* {
  /* outline: 1px dotted red; */
  margin: 0;
  padding: 0;
}
html {
  font-family: Orbitron;
  font-size: 20px;
}
body {
  background-color: black;
}
a,
a:visited,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: lightgreen;
  margin-bottom: 1rem;
  font-weight: 100;
  text-shadow: 0.1rem 0.1rem 0 black;

}

bold {
  font-weight: 900;
}

section {
  width: 100%;
  min-height: 100vh;
}

/* Gallery */

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.bgImage {
  background-size: cover;
  background-position: center;
  min-width: 260px;
  min-height: 260px;
  margin: 5%;
  cursor: pointer;
}
.bgImage.small {
  min-height: 130px;
  min-width: 130px;
}
.bgImage.big {
  width: 90%;
  min-height: 260px;
  min-width: 260px;
}
.cavePaintingsLink {
  display: block;
}

/* Menu and Nav */

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
div.menu {
  margin: 20px;
  height: 25px;
  width: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; */
  z-index: 10000;
  position: relative;
}
div.menu.show {
  z-index: 1000;
}
.menu .line {
  height: 2px;
  width: 75%;
  background-color: lightgreen;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  z-index: 1000000;
  opacity: 1;
  transition: 0.5s;
  pointer-events: none;
}
.menu .line:nth-child(1) {
  top: 20%;
}
.menu .line:nth-child(2) {
  top: 50%;
}
.menu .line:nth-child(3) {
  top: 80%;
}

.menu.show .line:nth-child(1) {
  animation: line1 0.5s linear;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.menu.show .line:nth-child(2) {
  opacity: 0;
}
.menu.show .line:nth-child(3) {
  animation: line2 0.5s linear;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.menu.unShow .line:nth-child(1) {
  animation: line1a 0.5s linear;
}
/* .menu.unShow .line:nth-child(2){
} */
.menu.unShow .line:nth-child(3) {
  animation: line2a 0.5s linear;
}

/* MENU ANIMATIONS */

@keyframes line1 {
  0% {
    top: 20%;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    top: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}
@keyframes line2 {
  0% {
    top: 80%;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    top: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
@keyframes line1a {
  0% {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  50% {
    top: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    top: 20%;
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
@keyframes line2a {
  0% {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  50% {
    top: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    top: 80%;
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

/* MENU STYLES */

.menu ul {
  position: fixed;
  z-index: -3;
  display: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: darkcyan; */
  background: url(./images/1200planet.jpg) no-repeat center center / cover;
  /* padding-top: 25px; */
}
.menu.show ul {
  display: flex;
}
.menu ul li {
  margin: 20px;
  font-size: 2rem;
  list-style: square inside url(./images/ship.png);

  text-align: center;
}
.menu ul li a {
  text-align: center;
  text-decoration: none;
  /* text-shadow: 2px 2px 0 black; */
  color: white;
}

/* LIGHTBOX STYLES */

#lightBox {
  display: none;
  opacity: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s;
  z-index: 100000;
}
#lightBox.show {
  opacity: 1;
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}
#lightBox #lightBoxImage {
  width: 90vmin;
}
#lightBox #closeLightBox {
  position: fixed;
  top: 35px;
  left: calc(100% - 35px);
  height: 50px;
  width: 50px;
}
#lightBox #closeLightBox:before,
#lightBox #closeLightBox:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: lightgreen;
  transform: translate(-50%, -50%) rotate(-45deg);
}
#lightBox #closeLightBox:after {
  transform: translate(-50%, -50%) rotate(45deg);
}

/* section styles */

#splash {
  background: url(./images/1200planet.jpg) no-repeat center center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#splash .title {
  width: 80%;
  max-width: 500px;
}

#whatIsZ4X {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /* flex-direction: column; */
}
#whatIsZ4X .textPanel > * {
  margin: 20px;
}
#description {
  min-height: 0;
}
#description .flex{
  justify-content: space-around;
}
#description .mechanics{
  min-width: 265px;
}

#helpPlaytest {
  /* background-color: purple; */
  background-image: url(./images/orion-nebula-11107.jpg);
  /* background-size: cover; */
  /* background-position: center; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-height: 0px;
}
#helpPlaytest > div {
  text-align: center;
}

#videos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 0;
  flex-wrap: wrap;
}
#videos .videoPanel {
  margin: 20px;
}
#videos .videoPanel iframe{

}
#videos a {
  color: lightgreen;
}

#aboutMe {
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 0;
  background-size: cover;
  background-position: center;
}
#aboutMe .profile {
  height: 260px;
  width: 260px;
}
#aboutMe .cavePaintingsImage{
  width: 200px;
}


#contact {
  /* background-color: green; */
  /* padding: 50px 0; */
  min-height: 0;
}

/* Utils */
.center {
  margin: 0 auto;
  display: inline-block;
}

.darken{
  position: relative;
}
.darken *{
  position: relative;
  z-index: 100;
}
.darken:before{
  position: absolute;
  top:0;
  left:0;
  content:"";
  height:100%;
  width:100%;
  /* z-index: 0; */
  background-color: rgba(0,0,0,.5);
}

.margin10 {
  margin: 10px !important;
}
.margin20 {
  margin: 20px !important;
}
.margin25 {
  margin: 25px !important;
}
.margin30 {
  margin: 30px !important;
}
.margin5 {
  margin: 5px !important;
}
.margin50 {
  margin: 50px !important;
}

.padding10 {
  padding: 10px !important;
}
.padding20 {
  padding: 20px !important;
}
.padding25 {
  padding: 25px !important;
}
.padding30 {
  padding: 30px !important;
}
.padding5 {
  padding: 5px !important;
}
.padding50 {
  padding: 50px !important;
}

.noClick {
  pointer-events: none;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.centerText {
  text-align: center;
}
.full {
  width: calc(90% - 20px);
  margin: 5%;
}
.half {
  width: calc(40% - 20px);
  margin: 5%;
}
.sectionHead {
  display: flex;
  justify-content: center;
  padding: 50px 0 20px 0;
  /* height:calc(100% + 20px); */
}

/* SCIFI PANEL */

.sciFiPanel {
  padding: 10px;
  /* border: 3px solid lightgreen; */
  border-radius: 10px;
  position: relative;
  color: lightgreen;
  z-index: 0;
}
.sciFiPanel:after,
.sciFiPanel:before {
  content: "";
  border: 1px solid lightgreen;
  border-radius: 10px;
  width: calc(100%);
  height: calc(100%);
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: rgba(0,0,0,.5); */
}
.sciFiPanel:before {
  border-width:1px ;
  border-radius: 12px;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
}
.menu.sciFiPanel {
  background-color: black;
}
/* .menu.button:hover .line{
  background-color:black;
} */
.button {
  display: inline-block;
}
.button a {
  text-decoration: none;
}
.button:hover {
  background-color: lightgreen !important;
  color: black !important;
  text-shadow: none;
  transition: 1s;
  cursor: pointer;
}

/* MOBILE SIZE? */

@media (max-width: 900px) {
  #whatIsZ4X {
    justify-content: center;
  }
  .half {
    width: calc(90% - 20px);
    margin: 5%;
  }

  .sectionHead h1 {
    width: 80%;
  }
  .bgImage.small {
    width: 90%;
    min-height: 260px;
    min-width: 260px;
  }
  .menu ul li {

  font-size: 1.2rem;
  }
}
