* {
  /* outline: 2px dotted red; */
  margin: 0;
  padding: 0;
}
html {
  font-family: Orbitron;
  font-size: 20px;
}
body {
  background-color: black;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
}

.bold {
  font-weight: 700;
}

section {
  width: 100%;
  min-height: 100vh;
}

.bgImage{
  background-size:cover;
  background-position: center;
  min-width: 300px;
  min-height: 300px;
  
}




nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
div.menu {
  margin: 20px;
  height: 25px;
  width: 30px;
  /* background-color:red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
  position: relative;
}
div.menu.show{
  z-index: 1000;
}
.menu .line {
  height: 2px;
  width: 100%;
  background-color: lightgreen;
  /* box-shadow: 1px 1px 0 white; */
  /* position: absolute; */
  left: 0;
}

.menu ul {
  position: fixed;
  z-index: 100;
  display: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkcyan;
}
.menu.show ul {
  display: flex;
}
.menu ul li {
  margin: 20px;
  font-size: 2rem;
  list-style-type: none;
}
.menu ul li a {
  text-decoration: none;
  text-shadow: 1px 1px 0 white;
  color: black;
}
a:visited {
  color: black;
} /* visited link */




#splash {
  background: url(./images/1200planet.jpg) no-repeat center center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#splash .title {
  width: 80%;
  max-width: 500px;
}
#whatIsZ4X {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /* flex-direction: column; */
}

#helpPlaytest {
  background-color: purple;
}
#aboutMe {
  background-color: blue;
}
#contact {
  background-color: green;
}

/* Utils */
.center{
  margin:0 auto;
}
.half {
  width: calc(40% - 20px);
  margin: 5%;
}
.sectionHead{
display:flex;
justify-content:center;
padding: 20px 0;
/* height:calc(100% + 20px); */
}
.sciFiPanel {
  padding: 10px;
  /* border: 3px solid lightgreen; */
  border-radius: 10px;
  position: relative;
  color:lightgreen;
  z-index: 0;
}
.sciFiPanel:after, .sciFiPanel:before {
  content: "";
  border: 3px solid lightgreen;
  border-radius: 10px;
  width:calc(100%);
  height:calc(100%);
  position:absolute;
  z-index: -1;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  /* background-color: rgba(0,0,0,.5); */
}
.sciFiPanel:before {
  border-radius: 16px;
  width:calc(100% + 12px);
  height:calc(100% + 12px);
}
/* .sciFiPanel:after{
  width:calc(100% + 14px);
  height:calc(100% + 14px);
  top:-7px;
  left:-7px;
} */

@media (max-width: 900px) {
  #whatIsZ4X {
    justify-content: center;
  }
  .half {
    width: calc(90% - 20px);
    margin: 5%;
  }
}
